<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/48d538a0-0a5f-4f0e-83a4-ccc344bbae72/resourceGroups/myResourceGroup/providers/Microsoft.Web/sites/Tree-Structure</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tree-structure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tree-structure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tree-Structure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Tree-Structure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StrukturaDrzewiasta.Persistance.IdentityDatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tree-structuredbserver.database.windows.net,1433;Initial Catalog=StrukturaDrzewiasta;User ID=sqladmin@tree-structuredbserver;Password=vUMUnA4A" Name="Data Source=tcp:tree-structuredbserver.database.windows.net,1433;Initial Catalog=StrukturaDrzewiasta;User Id=sqladmin@tree-structuredbserver;Password=vUMUnA4A;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StrukturaDrzewiasta.Persistance.IdentityDatabaseContext, StrukturaDrzewiasta" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DatabaseContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:tree-structuredbserver.database.windows.net,1433;Initial Catalog=StrukturaDrzewiasta;User ID=sqladmin@tree-structuredbserver;Password=vUMUnA4A" Name="Data Source=tcp:tree-structuredbserver.database.windows.net,1433;Initial Catalog=StrukturaDrzewiasta;User Id=sqladmin@tree-structuredbserver;Password=vUMUnA4A;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StrukturaDrzewiasta.Persistance.DatabaseContext, StrukturaDrzewiasta" MigrationConfiguration="StrukturaDrzewiasta.Migrations.Configuration, StrukturaDrzewiasta" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tree-structuredbserver.database.windows.net,1433;Initial Catalog=StrukturaDrzewiasta;User Id=sqladmin@tree-structuredbserver;Password=vUMUnA4A;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StrukturaDrzewiasta.Persistance.IdentityDatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tree-structuredbserver.database.windows.net,1433;Initial Catalog=StrukturaDrzewiasta;User Id=sqladmin@tree-structuredbserver;Password=vUMUnA4A;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="StrukturaDrzewiasta.Persistance.IdentityDatabaseContext" />
  </ItemGroup>
</Project>