<h1>@ViewBag.Title</h1>
<hr />
<div class="col-lg-8">
    <h3>Zadanie polega na oprogramowaniu mechanizmu zarządzania strukturą drzewiastą</h3>
    <ol type="1">
        <li>
            Założenia co do technologii:
            <ul>
                <li> baza danych MSSQL, PostgreSQL 9.3 / MySql 5.4 lub nowsza,</li>
                <li> ASP.NET MVC (Uwaga nie należy używać gotowej kontrolki),</li>
                <li> HTML 5, CSS</li>
            </ul>
        </li>
        <li>
            Założenia dotyczące realizacji zadania:
            <ul>
                <li>struktura drzewiasta ma umożliwiać działanie na dowolnej ilości poziomów,</li>
                <li>funkcje jakie mają być dostępne dla administratora: dodawanie, edycja, usuwania, sortowanie (zarówno węzłów jak i liści), przenoszenie węzłów do innych gałęzi,</li>
                <li>powinna być możliwość rozwinięcia całej struktury lub wybranych węzłów,</li>
                <li>powinny zostać zastosowane zabezpieczenia uniemożliwiające wprowadzanie nieprawidłowych danych.</li>
                <li>mile widziane zastosowanie skryptów client-side,</li>
                <li>w bazie danych mile widziane funkcje/procedury składowe</li>
            </ul>
        </li>
        <li>
            Dane do logowania:
            <ul>
                <li>login: admin</li>
                <li>haslo: Admin1</li>
            </ul>
        </li>
    </ol>
</div>

